@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
       
        <div class="top-row px-4">
            <a href="" target="_blank">Allergene</a>
            <a href="" target="_blank">Speisekarte</a>
            <a href="" target="_blank">Yummy-Punkte</a>
            <a href="" target="_blank">Profile</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
